name: "CI tests"

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  tests:
    if: ${{ github.repository == 'cloudevents/sdk-ruby' }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            ruby: "2.7"
            flags: "--test --cucumber"
          - os: ubuntu-latest
            ruby: "3.0"
            flags: "--test --cucumber"
          - os: ubuntu-latest
            ruby: "3.1"
            flags: "--test --cucumber"
          - os: ubuntu-latest
            ruby: "3.2"
            flags: "--test --cucumber"
          - os: ubuntu-latest
            ruby: "3.3"
            flags: "--test --cucumber"
          - os: ubuntu-latest
            ruby: "3.4"
            flags: "--test --cucumber"
          - os: ubuntu-latest
            ruby: "3.4"
            flags: "--rubocop --yard --build"
          - os: ubuntu-latest
            ruby: jruby
            flags: "--test --cucumber"
          # TEMPORARY: Disable truffleruby due to some issues with bundler
          # - os: ubuntu-latest
          #   ruby: truffleruby
          #   flags: "--test --cucumber"
          - os: macos-latest
            ruby: "3.4"
            flags: "--test --cucumber"
          - os: windows-latest
            ruby: "3.4"
            flags: "--test --cucumber"
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Checkout repo
        uses: actions/checkout@v5
      - name: Install dependencies
        shell: bash
        run: "bundle install && gem install --no-document toys"
      - name: Run ${{ matrix.flags }}
        shell: bash
        run: |
          toys ci --only ${{ matrix.flags }} < /dev/null
